body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F4F4F4
}

.navbar {
    background-color: #0046E6;
    padding: 15px 100px;
    display: flex;
}

.navbar a {
    text-decoration: none;
    font-style: normal;
    font-size: 28px;
    color: snow;
    text-align: left;
    box-sizing: border-box;
    margin-right: 30px;
}

.navbar a:hover{
    text-decoration: underline;
}

#active{
    text-decoration: underline; 
}

.containerToDo {
    padding: 30px 100px 50px;
    display: flex;
    flex-direction: row;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    color: #1B1B1E;
    border-radius: 20px;
}

td,
th {
    text-align: left;
    padding: 10px 20px;  
    font-size: 20px;
    
}

tr:nth-child(1){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

tr {
    background-color: white;
    
  }

  


.btnEdit, .btnSave, .btnAdd, .btnSend {
    border: #0046E6 1px solid;
    background-color: white;
    color: #1B1B1E;
    font-size: 25px;
    height: fit-content;
    padding: 10px;
    margin-left: 20px;
}

.btnEdit:hover, .btnSave:hover, .btnAdd:hover, .btnSend:hover{
    color: snow;
    background-color: #0046E6;
    cursor: pointer;
}

.addHorseContainer{
    display: flex;
    padding: 30px 100px 50px;
    display: flex;
    flex-direction: row;
}